<div class="header-wrapper">
    <header class="header">
        <div class="site-info">
            <div class="avatar"><a href='{{"/" | absolute_url }}'><img src='{{"/assets/images/site/hasitha.png"| absolute_url }}' alt="Avatar"></a></div>
            <div class="avatar-text">
                <h1>Hasitha Aravinda</h1>
                <p>A Developer, Engineer and Gamer :)</p>
            </div>
        </div>
        <div class="main-menu">{% for item in site.data.main-menu %}
            <a {% if page.url== item.link %}class="active" {% else %} href="{{ item.link | absolute_url }}" target="{{ item.target }}" {% endif %} >
                <i class="{{ item.icon }}"></i> {{ item.text }}
            </a>{% endfor %}
        </div>
    </header>
</div>
