---
---
<!doctype html>
<!-- Copyright &copy;{{ 'now' | date: "%Y" }} Hasitha Aravinda Thilakarathna.-->
<html>
{% capture my_url %}{{page.url | absolute_url}}{% endcapture %}
{% if my_url contains "www-dev" or my_url contains "localhost"  %}
    {% assign  testing = true %}
{% else %}
    {% assign  testing = false %}
{% endif %}
<head>
{% if testing %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148733069-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-148733069-1');
    </script>
{% endif %}
    <meta charset="utf-8">
    <title>{{ page.title }} - Hasitha Aravinda</title>
    <link rel="stylesheet" href='{{ "/assets/css/styles.css" | absolute_url }}'>
    <link rel="stylesheet" href='{{ "/assets/css/font-wso2.min.css" | absolute_url }}'>
    <link rel='shortcut icon' type='image/x-icon' href='{{"/favicon.ico" | absolute_url }}' />
</head>
<body>

<div hidden="hidden">{{my_url}}</div>
{% if testing %}
<a href="/" title="Goto production"><div class="ribbon" >Dev</div></a>
{% endif %}
{% include header.html %}
<div class="content">
    {{ content }}
</div>
{% include footer.html %}
</body>
</html>